@import "/src/styles/colors.scss";

.computations-window {
  background-color: white;
  border-radius: 2px;
  box-shadow: $window-shadow;
  margin-top: 20px;
}

.table {
  max-height: 470px;
  min-height: 200px;
  overflow: auto;

  &--info {
    color: $greyish-blue;
    display: grid;
    place-items: center;
  }

  &--whole {
    max-height: none;
  }
}

.actions {
  display: flex;
  gap: 15px;

  &__action {
    cursor: pointer;
  }
}
