@import "/src/styles/colors.scss";

.outputs {
  display: flex;
  justify-content: space-between;
}

.error-text {
  align-items: center;
  display: flex;
  gap: 8px;

  &--bold {
    font-weight: bold;
  }
}

.arrow-icon {
  color: $error-red;
  cursor: pointer;
  transform: rotate(180deg);

  & > path {
    fill: currentColor;
  }

  &--expanded {
    transform: none;
  }
}

.antlr-msg {
  padding: 10px 0px 0px 24px;
}
