@import "/src/styles/colors.scss";

.inputs-area {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 210px;
}

.variables-form {
  padding: 25px;
  padding-bottom: 0;

  &__title {
    color: $dark-grey;
    margin-bottom: 10px;
  }
}
