@import "/src/styles/statements.scss";

.computation-step {
  display: grid;
  grid-template-columns: 1fr 190px;
  padding: 10px 0;

  &:first-child {
    border-bottom: 1px solid #efefef;
  }

  &:hover {
    background-color: #dfe9f0;
  }

  &__state {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.variable {
  padding-left: 20px;
}
