// Highlighting colors
$red-pastel: rgb(249, 225, 225);
$red-pastel-border: rgb(229, 205, 205);

$yellow-pastel: rgb(252, 250, 217);
$yellow-pastel-border: rgb(232, 230, 197);

$grey-highlight: rgb(231, 231, 231);
$grey-highlight-border: rgb(211, 211, 211);

$green-pastel: rgb(217, 251, 239);
$green-pastel-border: rgb(197, 231, 219);

$yellow-green-pastel: rgb(218, 252, 203);
$yellow-green-pastel-border: rgb(198, 232, 183);

$blue-pastel: rgb(225, 231, 255);
$blue-pastel-border: rgb(205, 211, 235);

$turquoise-pastel: rgb(205, 255, 255);
$turquoise-pastel-border: rgb(185, 235, 235);

//COLORS
$dark-blue: rgb(20, 33, 61);
$dark-blue-shadow: rgba(22, 33, 61, 0.1);

$light-grey: #f6f6f6;

$greyish-blue: rgb(83, 92, 111);
$orange: rgb(252, 163, 17);
$silver-grey: #e5e5e5;
$white: white;
$black: #000000;
$disabled-grey: #b0b0b0;

$error-red: #ce0000;
$error-red-background: #efd7d7;

$greyish-blue-light: rgba(83, 92, 111, 0.1);

$greyish-blue-shadow: rgba(83, 92, 111, 0.7);

$orange-opacity: rgba(252, 163, 17, 0.3);

$window-shadow: $dark-blue-shadow 0px 4px 6px -1px,
  $dark-blue-shadow 0px 2px 4px -1px;
$highlight-window-shadow: $greyish-blue-shadow 0px 1px 0px,
  $greyish-blue-shadow 0px 0px 8px;
