$aqua-blue: #084870;
$light-blue: #dfe9f0;
$white: white;
$light-grey: #efefef;
$dark-grey: #4d4d4c;

$aqua-blue-shadow: rgba(8, 72, 112, 0.7);

// Highlighting colors
$red-pastel: #ffb5b5;
$yellow-pastel: #fffbb3;
$orange-pastel: #ffdac1;
$green-pastel: #b5ead7;

$blue-pastel: rgb(205, 210, 230);
$blue-pastel-border: rgb(199, 206, 234);
