@import "/src/styles/colors.scss";

.statement {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 3px;
  display: inline;
  padding: 3px 2px;

  &--big {
    padding: 5px 3px;
  }
}

.while-statement {
  &:hover {
    background-color: $green-pastel;
    border-color: $green-pastel-border;
  }
}

.skip-statement {
  &:hover {
    background-color: $orange-pastel;
  }
}

.assign-statement {
  &:hover {
    background-color: $blue-pastel;
    border-color: $blue-pastel-border;
  }
}

.do-statement {
  &:hover {
    background-color: $yellow-pastel;
    border-color: $yllow-pastel-border;
  }
}

.if-statement {
  &:hover {
    background-color: $red-pastel;
    border-color: $red-pastel-border;
  }
}
