@import "/src/styles/colors.scss";

.button {
  align-items: center;
  border-radius: 100px;
  border: 2px solid;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  gap: 10px;
  height: 40px;
  justify-content: center;
  padding: 0 10px;

  &--primary {
    background-color: $orange;
    border-color: $orange;
    color: $white;
  }

  &--secondary {
    background-color: $white;
    border-color: $orange;
    color: $orange;
  }

  &--disabled {
    background-color: $disabled-grey;
    border-color: $disabled-grey;
    color: $white;
    cursor: not-allowed;
  }

  &--collapsed {
    border-radius: 50%;
    max-width: 40px;
    padding: 0 5px;
    transition: max-width 1s;
    width: 40px;

    .button__label {
      display: none;
    }
  }
}
