@import "/src/styles/statements.module.scss";

.statements-row {
  display: grid;
  grid-template-columns: 1fr 190px;
  padding: 10px;

  &:first-child {
    border-bottom: 1px solid #efefef;
  }

  &__state {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.variable {
  padding-left: 20px;
}
