@import "/src//styles/colors.scss";

.editor-holder {
  border-radius: 2px;
  box-shadow: $window-shadow;
  max-height: 256px;
}

.header-actions {
  display: flex;
  gap: 15px;
}

.action {
  cursor: pointer;
}

.icon > path {
  fill: currentColor;
}
