@import "/src/styles/colors.scss";

.computations-window {
  background-color: white;
  border-radius: 2px;
  box-shadow: $window-shadow;
  margin-top: 20px;
}

.table {
  max-height: 470px;
  min-height: 116px;
  overflow: auto;

  &--info {
    color: $greyish-blue;
    display: grid;
    place-items: center;
  }

  &--whole {
    max-height: none;
  }
}

.actions {
  align-items: center;
  display: flex;
  gap: 15px;

  &__action {
    cursor: pointer;
  }
}

.highlight {
  display: flex;
  position: relative;

  &:hover {
    .highlight__window {
      display: block;
    }
  }

  &__window {
    display: none;
    position: absolute;
    right: -20px;
    top: 30px;
    z-index: 1;
  }
}
