@import "/src/styles/colors.scss";

.header-holder {
  align-items: center;
  background-color: $greyish-blue;
  border-radius: 2px 2px 0 0;
  display: flex;
  height: 30px;
  justify-content: space-between;
  padding-left: 45px;
  padding-right: 15px;
}

.header-title {
  color: $white;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
